.container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 8px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 700;
}
