.outerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9fb;
  box-shadow: 5px 10px 15px -10px #333333;
  border-radius: 10px;
  padding-inline: 15px;
  padding-block: 15px;
  margin-top: 15px;
  font-size: 14px;
  min-height: 100px;
}

.reviewContent {
  width: 95%;
  max-width: 95%;
  min-height: 50px;
  background-color: transparent;
  border: none;
  resize: none;
}
